@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
*
{
    margin: 0;
    padding: 0;
}
.main_div
{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("img/dumbbells-floor-gym-ai-generative.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.container
{
    opacity: 0.8;
}
.navigation_bar
{
    height: 4em;
}
.navigation_bar li 
{
    list-style: none;
    margin:0 0.5em;
}
.navigation_bar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.topLeft
{
    width: 100%;
    height: 50vh;
}
.topRight
{
    width: 50%;
    height: 50vh;
}
.dumbbell_img
{
    width: 12em;
    padding: 0 10em;
}
.gym_boy_img
{
    width: 19em;
}
a
{
    text-decoration: none;
    color: white;
}
.div1
{
    height: 55em;
}
.btn_join
{
    cursor: pointer;
    padding: 0.4em;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.5s;

}
.btn_join:hover
{
    background-color: white;
    color: black;
}
.st_btn
{
    margin-top: 1em;
    cursor: pointer;
    padding: 0.6em;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.5s;
}
.st_btn:hover
{
    background-color: white;
    color: black;
}
.navbar a:hover{
    color: aqua;
}
/* Section1 */
.pricing_div
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 40em;
}
.section1
{
    display: flex;
    flex-direction: row;
}
.pricing_list
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.custom_div
{
    text-align: center;
    width: 3vw;
    background-color: grey;
    height: 3px;
}
.price
{
    border-radius: 1em;
    border: 2px solid rgb(255, 72, 0);
    width: 20%; 
    height:22em;
}
.star
{
    height:3em;
}
.buy_btn
{
    margin-top: 2em;
    cursor: pointer;
    width: 45%;
    height: 40px;
    border: 2px solid rgb(255, 72, 0);
    background: transparent;
    color: black;
    border-radius: 5px;   
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.5s;
}
.buy_btn:hover
{
    color: white;
    background-color: rgb(255, 72, 0);
    border: none;
}
/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Ubuntu&family=Varela+Round&display=swap');

.footer_container
{
    background-color: #000;
}
.row
{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px ;
}
.footer-col ul
{
    list-style: none;
}
.footer-col  h4
{
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.footer-col  h4::before
{
    content: '';
    width: 70px;
    height: 2px;
    position:absolute;
    background-color: #e91e64;
    bottom: -10px;
}
.footer-col ul li
{
    padding: 10px 0;
}
.footer-col ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: all 0.5s;
}
.footer-col ul li a:hover
{
    opacity: 1;
}
.footer-col input
{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
    border-radius: 10px;
}
.submit-btn
{
    cursor: pointer;
    width: 45%;
    height: 40px;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 5px;   
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.5s;
}
.submit-btn:hover
{
    color: rgb(255, 72, 0);
    background-color: white;
    border: none;
}
.col p 
{
    color: white;
}
.row hr
{
    opacity: 0.7;
}
.row .social-icons i
{
    display: inline-block;
    color: white;
    font-size: 2em;
    margin: 0 15px;
    transition:all 0.5s;
}
a{
    text-decoration: none;
}
.row .social-icons i:hover
{
    color: rgb(255, 72, 0);
}

@media (max-width: 1000px)
{
    footer .row
    {
        flex-wrap: wrap;
        padding: 20px 30px;
    }
    footer .footer-col ul
    {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .footer-col input
    {
        width: 100%;
    }
}