.bg_red
{
    background-color: red;
}
.flex
{
    display: flex;
}
.items_center
{
    align-items: center;
}
.justify_between
{
    justify-content: space-between;
}
.justify_around{
    justify-content: space-around;
}
.justify_center
{
    justify-content: center;
}
.flex_col
{
    flex-direction: column;
}
.font_bold
{
    font-weight: bold;
}
.my_1
{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.px_2
{
    padding-left: 2em;
    padding-right: 2em;
}
.text_blue
{
    color: rgb(29, 88, 214);
}
.overflow_hidden
{
    overflow: hidden;
}
.cursor_pointer
{
    cursor: pointer;
}
.font
{
    font-size: 2em;
}
.text_center
{
    text-align: center;
}
.my
{
    margin-top: 1em;
}